{#
/**
 * @file
 * Default theme implementation of a Flexible Address element.
 *
 * Available variables:
 * - value: the value.
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<span class="value">{{ value }}</span>
